pheload_height = 140px

.pageload-bg
	position fixed
	width 100%	
	height 100%
	background-color #45676e
	top 0
	z-index 99
	transition all 0.7s
	.preload-box
		color #fff
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		font-size 40px
		i
			animation-name: preloader;
			animation-timing-function linear
			animation-duration: 1s;
			//animation-direction normal
			animation-iteration-count infinite
			//transition all 0.3s
			//font-size 40px
			//opacity 0
			@keyframes preloader
				0% {transform: rotateX(0deg) ;}
				100% {transform: rotateX(360deg);}
		span
			padding-left 10px
			text-transform capitalize
			font-weight bolder
			//font-size 24px
		.load-view 
			font-size pheload_height
			width 120px
			margin-left -60px
		.load-hide 
			font-size pheload_height
			width 120px
			//margin-left -60px
			//position absolute
			//top 50%
			margin-left: -60px;
			//left 50%
			//transform translate(-50%,-50%)
			color #fff
			//transition all 0.3s
			// display none
		.load-view
		.load-hide 
			.status
				font-family: 'Open Sans', sans-serif;
				position absolute
				font-size 18px
				color #fff
				bottom -10px
				left 0
				right 0
			
		// &:after
		// 	content 'complite!'
		// 	font-family: 'Open Sans', sans-serif;
		// 	position absolute
		// 	font-size 18px
		// 	color #fff
		// 	bottom -20px
		// 	left 0
		// 	right 0	
	.in-block
		display block
		//transition all ease-in 0.7s
		// width 100px
		// height 100px
		// background-color #fff
		// display block

	



//
//.page-loaded
//	transition all 1s
//	opacity 0


